.modal_main-container {
    /* border: 2px solid black;
    margin-top: 5px;
    color: blue; */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
    border: 2px solid black;
}

.modal-header{
    padding: 10px;
}

.modal-title {
    margin: 0;
    color: blue;
    text-align: center;
}

.modal-body {
    padding: 10px;
    border-top: 1 px solid #eee;
    border-bottom: 1px solid #eee;
    color: blue;
}

#home_id {
    color: red;
    background-color: rgb(212, 140, 164);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bolt;
}