.graph-page__container {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.graph-page__appbar {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 70px;
    
}

.graph-page__tab {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.graph-page__container2 {
    width: 100%;
    display: flex;
    flex-flow: column;
}