.menu-page__container {
    /* border: 2px dotted rgb(233, 161, 161); */
    height: 100%;
}
ul {
    padding-left: 5px;
    padding-top: 4px;
    padding-right: 7px;
}

li {
    display: block;
    border: 2px white solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home_id {
    color: red;
}

#my-tasks_id {
    color: purple;
}

#graph_id {
    color: rgb(89, 133, 23);
}

#help_id {
    color: blueviolet;

}