html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.my-tasks-page {
    display: flex;
    height: 100%;
}

.my-tasks-page__container {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.my-tasks-page__title {
    /* display: flex; */
    color: red;
    border: 2px blue solid;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-tasks-page__table-and-form {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.my-tasks-page__modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}