table {
    width: 100%;
}

table, th, td {
    margin-top: 20px;
    border: 2px white solid;
    border-collapse: collapse;
    color: orange;
    background-color: rgb(18, 57, 90) ;
}

th{
    color: blue;
    padding: 7px 3px;
}

tr, td {
    white-space: nowrap;
}

.table__th {
    background-color: rgb(224, 183, 208);
}

#descriptionId {
    padding: 7px 5px;
}

#dateId {
    padding: 7px 5px;
}

#priorityId {
    padding: 7px 5px;
}

#statusId {
    padding: 7px 5px;
}

#buttonsTable {
    border: 2px black solid;
    background-color:rgb(224, 165, 224);
    margin: 3px 2px;
    padding: 1px 3px;
}